<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クーポン詳細</title>
    <style>
        /* スタイルはそのまま */
    </style>
</head>

<body>
    <div class="coupon-container">
        <h1>クーポン詳細</h1>

        <!-- フラッシュメッセージの表示 -->
        <div th:if="${message}" class="flash-message" th:text="${message}"></div>

        <!-- クーポンタイプによるメッセージ -->
		<!--nullチェックを実施-->
        <div th:if="${couponType != null}">
            <div th:if="${couponType.equals(T(com.example.demo.entity.CouponType).COUPON_TYPE1)}">
                <a>合計金額から半額クーポン！</a>
            </div>
            <div th:if="${couponType.equals(T(com.example.demo.entity.CouponType).COUPON_TYPE2)}">
                <a>合計金額から1000円引きクーポン！</a>
            </div>
            <div th:if="${couponType.equals(T(com.example.demo.entity.CouponType).COUPON_TYPE3)}">
                <a>ドリンク1杯無料クーポン！</a>
            </div>
            <div th:if="${couponType.equals(T(com.example.demo.entity.CouponType).COUPON_TYPE4)}">
                <a>席料無料クーポン！</a>
            </div>
        </div>

        <div th:if="${couponType == null}">
            <p>あなたのクーポンははずれです。</p>
        </div>

       
    </div>
</body>

</html>
